Options -MultiViews -Indexes

RewriteEngine On

# Redireciona tudo para o Front Controller (index.php)
# exceto arquivos estáticos reais (css, js, imagens, fontes)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
